/* .post-wrapper {
  padding: 1rem 0 1rem 0;

  .card {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 3fr 0.5fr 0.5fr;
    grid-gap: 0.5rem;
    justify-content: center;
    align-content: center;

    img{
        min-width: 700px;
        width: 100%;
        display: block;
        border-radius: 0.5rem;
    }   
    
    div{
        display: flex;
        align-items: center;
    }

    h3 {
        align-content: center;
        font-size: 2rem;
        color: #333;
    }

    p{
        color: rgba(51, 51, 51, 0.945);
    }

  }
}
 */

 .img-max{
  max-width:0%;
}
